* {
    /*font-family: 'Noto Sans', sans-serif;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Cairo', sans-serif;*/
}

/*a:hover {
    color: #252931;
}

a:visited {
    color: #0235A2;
}*/

body {
    padding-top: 0px;
}

.navbar {
    color: #FFFFFF;
    border-color: none;
    border: none;
    border-radius: 0px;
    background-color: #474E5D;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    font-size: large;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

.navbar-brand {
    font-size: x-large;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    margin-right: auto;
    margin-left: auto;
}

div.container {
    padding: 0px;
    background-color: #474E5D;
    margin: 0px;
}

div.jumbotron {
    padding-left: 0px;
    padding-right: 0px;
    background-color: #474E5D;
    border-radius: 0px;
}

.container .jumbotron, .container-fluid .jumbotron {
    padding-right: 0px;
    padding-left: 0px;
}

.jumbotron {
    padding: 0px;
    background-color: #474E5D;
    margin: 0px;
}


.jumbotron.row {
    padding: 0px;
    background-color: #474E5D;
    border: none;
    margin: 0px;
}

.col-xs-12.col-md-8 {
    background-image: url(Content/tuscany-villas-sant-anna.jpg);
    margin: auto;
    padding: 0px;
    border: none;
    height: 350px;
    background-color: #474E5D;
    background-size: cover;
    color: #FFFFFF;
    text-align: center;
}

.col-xs-6.col-md-4 {
    background-image: url(Content/Versilia.jpg);
    margin: auto;
    padding: 0px;
    border: none;
    height: 350px;
    background-color: #474E5D;
    background-size: cover;
}

.sections {
    background-color: #474E5D;
    color: #FFFFFF;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 100;
    text-align: center;
    padding-top: 10px;
}

.sections>h1 {
    font-size: 42px;
}

.sections>h3 {
    font-size: 36px;
    padding-bottom: 50px;
}

.white {
    background-color: #FFFFFF;
    color: #474E5D;
    height: 500px;
    padding: 50px;
    padding-top: 100px;
}

.blue {
    background-color: #474E5D;
    color: #FFFFFF;
    height: 500px;
    padding: 50px;
    padding-top: 100px;
}

img.right {
    margin-left: 40px;
    margin-right: 40px;
    height: 300px;
    width: 500px;
    padding: 0px;
    float: right;
    clear: right;
}

img.left {
    margin-left: 40px;
    margin-right: 40px;
    height: 300px;
    width: 500px;
    padding: 0px;
    float: left;
    clear: left;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.blue-button {
    background-color: #474E5D;
    color: #FFFFFF;
    border-color: none;
    background-image: none;
}

.white-button {
    background-color: #FFFFFF;
    color: #474E5D;
    border-color: none;
    background-image: none;
}

div.container.amenities {
    background-color: #FFFFFF;
    margin-left: 100px;
    padding-bottom: 50px;
    padding-top: 50px;
}

.col-sm-4 {
    background-color: #FFFFFF;
    height: 300px;
}

.pictures1 {
    background-image: url(Content/3b-348x348.jpg);
    background-size: cover;
    color: #FFFFFF;
    text-align: center;
}

.pictures2 {
    background-image: url(Content/42-348x348.jpg);
    background-size: cover;
    color: #FFFFFF;
    text-align: center;
}

.pictures3 {
    background-image: url(Content/314-348x348.jpg);
    background-size: cover;
    color: #FFFFFF;
    text-align: center;
}

.pictures4 {
    background-image: url(Content/Villa-Rucellai-Toscani-2812-2-348x348.jpg);
    background-size: cover;
    color: #FFFFFF;
    text-align: center;
}

.pictures5 {
    background-image: url(Content/Villa-Vanna-231-348x348.jpg);
    background-size: cover;
    color: #FFFFFF;
    text-align: center;
}

.amenities-detail {
    padding-top: 125px;
}

.inset {
    height: 125px;
    width: 200px;
    padding-top: 0px;
    padding-left: 100px;
    padding-right: 50px;
    background-color: rgba(105, 95, 83, 0.6);
    margin-left: 100px;
    margin-top: -100px;
}

.pictures1.amenities-detail {
    margin-top: -50px;
    padding-top: 10px;
}

.words {
    background-color: #FFFFFF;
    color: #474E5D;
    text-align: center;
}

#myCarousel {
    background-color: #FFFFFF;
    color: #474E5D;
    height: 200px;
    font-family: 'Cairo', sans-serif;
    text-align: center;
    font-size: 18px;
    padding-top: 50px;
    font-style: italic;
}

ol.carousel-indicators {
    color: #474E5D;
}

.carousel-indicators li {
    color: #474E5D;
    border: 5px solid #474E5D;
    border-radius: 25px;
}

.carousel-control.left {
    background-image: none;
}

.carousel-control.right {
    background-image: none;
}

div.container-fluid.white-form {
    background-color: #FFFFFF;
    color: #474E5D;
    border-color: none;
    background-image: none;
    padding-bottom: 50px;
    padding-top: 50px;
}

div.row.info {
    background-color: #FFFFFF;
    color: #474E5D;
    padding-left: 50px;
}

div.row.uform {
    background-color: #FFFFFF;
    color: #474E5D;
    margin-left:0px;
    margin-right: 0px;
}

div.col-sm-6.form-group {
    padding: 5px;
}

div.col-sm-6.form-group.right-email {
    float:right;
}

footer.container-fluid.text-center {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 75px;
    margin-right: auto;
    margin-left: auto;
    background-color: #474E5D;
    color: #FFFFFF;
    font-size: 18px;
    font-weight:500;
    height: 200px;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #FFFFFF;
}

